<div class="navbar">
    <a class="nav-link" href="{% url 'main' %}">Home</a>
    <a class="nav-link" href="{% url 'statistic' %}">Statistic</a>
    {% if not user.is_authenticated %}
        <a class="nav-link" href="{% url 'signup' %}">Register</a>
        <a class="nav-link" href="{% url 'login' %}">LogIn</a>
    {% else %}
        <h3 class="username">{{user.username}}</h3>
        <a class="nav-link" href="{% url 'logout' %}">LogOut</a>
    {% endif %}
    <a class="nav-link" href="{% url 'about' %}">About</a>
</div>